html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2B2B2B;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-box {
    padding: 150px 0;
}

.section__title {
    margin-bottom: 55px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 42px;
}
/* header */
.header {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpg')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F5F5F5;
}
.header__inner {
    padding: 64px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 300;
}
.menu {
    justify-self: start;
}
.menu__btn {
    width: 40px;
    height: 24px;
    display: none;
    align-items: center;
    position: relative;
    z-index: 10;
}
.menu__btn::before,
.menu__btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F5F5F5;
}
.menu__btn::before {
    top: 0;
}
.menu__btn::after {
    bottom: 0;
}
.menu__btn span {
    height: 2px;
    background-color: #F5F5F5;
    width: 100%;
}
.menu-list {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}
.logo {
    justify-self: center;
}
.header__phone {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__title {
    padding-top: 100px;
    margin-bottom: 30px;
    max-width: 835px;
    font-size: 85px;
    font-weight: 400;
    line-height: 1.17;
    text-transform: uppercase;
}
.header__text {
    margin-bottom: 30px;
    max-width: 758px;
    font-size: 24px;
    line-height: 1.16;
}
.header__btn {
    padding: 20px 49px;
    max-width: 260px;
    width: 100%;
    display: inline-block;
    background-color: #F5F5F5;
    color: #2B2B2B;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

/* services */
.services {
    color: #F5F5F5;
    background-color: #171717;
}
.services__list {
    border-top: 1px solid #F5F5F5;
}
.services__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 24px 44px 24px 20px;
    border-bottom: 1px solid #F5F5F5;
}
.services__item-title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.17;
    text-transform: uppercase;
}
.services__item-text {
    max-width: 805px;
    width: 100%;
}

/* projects */
.projects__slider {
    padding-bottom: 50px;
    overflow: visible;
}

.projects__slider-item {
    max-width: 560px;
    padding: 20px;
    border: 1px solid #D9D9D9;
}
.projects__slider-item img {
    width: 100%;
    margin-bottom: 40px;
}
.projects__slider-title {
    font-size: 28px;
    line-height: 1.17;
    font-weight: 300;
    text-transform: uppercase;
    color: #2B2B2B;
    margin-bottom: 10px;
}
.projects__slider-descr {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.projects__slider-text {
    margin-bottom: 30px;
}
.projects__slider-btn {
    display: inline-block;
    padding: 20px 100px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    border: 1px solid #2B2B2B;
    transition: color .2s ease-out,  background-color .2s ease-out;
}
.projects__slider-btn:hover {
    color: #F5F5F5;
    background-color: #2B2B2B;
}
.projects__nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
}
.projects__btn-prev {
    transform: translateX(-75px);
}
.projects__btn-next {
    transform: translateX(15px);
}

/* steps */
.steps {
    padding: 60px 0 100px;
    display: flex;
    background-color: #171717;
    color: #F5F5F5;
}
.steps__title {
    margin-bottom: 56px;
}

.steps__list-wrapper {
    max-width: 562px;
}
.steps__title {
    line-height: 1.16;
}
.steps__list {
    list-style: none;
    counter-reset: myCounter;
}
.steps__item {
    counter-increment: myCounter;
    position: relative;
    padding-left: 57px;
    padding-bottom: 40px;
}
.steps__item::before {
    content: counter(myCounter);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #F5F5F5 ;
    position: absolute;
    left: 0;
}
.steps__item::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 48px;
    bottom: 8px;
    width: 1px;
    background-color: #F5F5F5;
}

.steps__item:last-child {
    padding-bottom: 0;
}

.steps__item:last-child::after {
    display: none;
}

.steps__item-title {
    padding-top: 6px;
    font-size: 24px;
    line-height: 1.16;
    font-weight: 300;
    margin-bottom: 12px;
}

.steps__img img {
   width: 100%;
   display: block;
   height: 100%;
   object-fit: cover;

}


@media (max-width: 1780px) {

    }

@media (max-width: 1300px) {
    .menu__btn {
        display: flex;
    }
    .menu-list {
        position: absolute;
        inset: 0;
        z-index: 5;
        padding-top: 200px;
        flex-direction: column;
        align-items: center;
        background-color: #171717;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }
    .menu-list.menu-list--active {
    transform: translateY(0);
    }
    .services__item {
        display: block;
        padding-right: 0;
    }
    .services__item-title {
        margin-bottom: 5px;
    }
    .steps {
        display: block;
    }
    .steps__list-wrapper {
        padding-bottom: 40px;
        max-width: 100%;
    }
}

@media (max-width: 740px) {
    .header__inner {
        padding: 40px 0;
    }
    .header__title {
        padding-top: 75px;
        font-size: 64px;
    }
    .section-box {
        padding: 50px 0;
    }
    .section__title {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .services__item {
        padding: 12px 0;
    }
    .services__item-title {
        font-size: 22px;
    }
    .projects__slider-item {
        padding: 10px;
    }
    .projects__slider-item img {
        margin-bottom: 20px;
    }
    .projects__slider-title {
        font-size: 24px;
    }
    .projects__slider-descr {
        font-size: 16px;
    }
    .projects__slider-descr,
    .projects__slider-text {
        margin-bottom: 12px;
    }
    .projects__slider-btn {
        padding: 16px 100px;
    }
    .steps {
        padding: 50px 0;
    }

}

@media (max-width: 540px) {
    .header__phone span {
        display: none;
    }
    .header__phone img {
        width: 24px;
    }
    .header__title {
        padding-top: 50px;
        font-size: 44px;
    }
    .header__text {
        font-size: 22px;
    }
    .header__btn {
        font-size: 16px;
        padding: 15px 10px;
        word-wrap: break-word;
    }
    .steps__item {
        padding-left: 37px;
        padding-bottom: 20px;
    }
    .steps__item::before {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .steps__item::after {
        left: 10px;
        top: 28px;
    }
    .steps__item-title {
        padding-top: 0px;
        font-size: 22px;
        margin-bottom: 5px;
        margin-top: -1px;
    }
    
}


