html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #2B2B2B;
    overflow-x: hidden;
}

html,
body {
    height: 100%;
}

button {
    background-color: transparent;
    padding: 0;
    border: none;
    font-family: inherit;
    color: inherit;
    display: inline-block;
}

input {
   font-family: inherit;
   color: inherit; 
}

input::placeholder {
   font-family: inherit;
   color: inherit; 
}

.container {
    max-width: 1740px;
    margin: 0 auto;
    padding: 0 10px;
}

.section-box {
    padding: 150px 0;
}

.section__title {
    margin-bottom: 55px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 42px;
    line-height: 1.16;
}
/* header */
.header {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-image: image-set(
        '../images/header-bg.avif' type('image/avif'),
        '../images/header-bg.webp' type('image/webp'),
        '../images/header-bg.jpg' type('image/jpg')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #F5F5F5;
}
.header__inner {
    padding: 64px 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    font-weight: 300;
}
.menu {
    justify-self: start;
}
.menu__btn {
    width: 40px;
    height: 24px;
    display: none;
    align-items: center;
    position: relative;
    z-index: 10;
}
.menu__btn::before,
.menu__btn::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #F5F5F5;
}
.menu__btn::before {
    top: 0;
}
.menu__btn::after {
    bottom: 0;
}
.menu__btn span {
    height: 2px;
    background-color: #F5F5F5;
    width: 100%;
}
.menu-list {
    display: flex;
    gap: 40px;
    text-transform: uppercase;
}
.logo {
    justify-self: center;
}
.header__phone {
    justify-self: end;
    display: flex;
    align-items: center;
    gap: 10px;
}
.header__title {
    padding-top: 100px;
    margin-bottom: 30px;
    max-width: 835px;
    font-size: 85px;
    font-weight: 400;
    line-height: 1.17;
    text-transform: uppercase;
}
.header__text {
    margin-bottom: 30px;
    max-width: 758px;
    font-size: 24px;
    line-height: 1.16;
}
.header__btn {
    padding: 20px 49px;
    max-width: 260px;
    width: 100%;
    display: inline-block;
    background-color: #F5F5F5;
    color: #2B2B2B;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    transition: background-color .2s ease;
}
.header__btn:hover {
    background-color: #cecbcb;
}

/* services */
.services {
    color: #F5F5F5;
    background-color: #171717;
}
.services__list {
    border-top: 1px solid #F5F5F5;
}
.services__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 24px 44px 24px 20px;
    border-bottom: 1px solid #F5F5F5;
}
.services__item-title {
    font-size: 28px;
    font-weight: 300;
    line-height: 1.17;
    text-transform: uppercase;
}
.services__item-text {
    max-width: 805px;
    width: 100%;
}

/* projects */
.projects__slider {
    padding-bottom: 50px;
    overflow: visible;
}

.projects__slider-item {
    max-width: 560px;
    padding: 20px;
    border: 1px solid #D9D9D9;
}
.projects__slider-item img {
    width: 100%;
    margin-bottom: 40px;
}
.projects__slider-title {
    font-size: 28px;
    line-height: 1.17;
    font-weight: 300;
    text-transform: uppercase;
    color: #2B2B2B;
    margin-bottom: 10px;
}
.projects__slider-descr {
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.projects__slider-text {
    margin-bottom: 30px;
}
.projects__slider-btn {
    display: inline-block;
    padding: 20px 100px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    border: 1px solid #2B2B2B;
    transition: color .2s ease-out,  background-color .2s ease-out;
}
.projects__slider-btn:hover {
    color: #F5F5F5;
    background-color: #2B2B2B;
}
.projects__nav {
    position: absolute;
    left: 50%;
    bottom: 0;
    cursor: pointer;
}
.projects__btn-prev {
    transform: translateX(-75px);
}
.projects__btn-next {
    transform: translateX(15px);
}

/* steps */
.steps {
    padding: 60px 0 100px;
    display: flex;
    background-color: #171717;
    color: #F5F5F5;
}
.steps__title {
    margin-bottom: 56px;
}

.steps__list-wrapper {
    max-width: 562px;
}
.steps__title {
    line-height: 1.16;
}
.steps__list {
    list-style: none;
    counter-reset: myCounter;
}
.steps__item {
    counter-increment: myCounter;
    position: relative;
    padding-left: 57px;
    padding-bottom: 40px;
}
.steps__item::before {
    content: counter(myCounter);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid #F5F5F5 ;
    position: absolute;
    left: 0;
}
.steps__item::after {
    content: '';
    position: absolute;
    left: 20px;
    top: 48px;
    bottom: 8px;
    width: 1px;
    background-color: #F5F5F5;
}

.steps__item:last-child {
    padding-bottom: 0;
}

.steps__item:last-child::after {
    display: none;
}

.steps__item-title {
    padding-top: 6px;
    font-size: 24px;
    line-height: 1.16;
    font-weight: 300;
    margin-bottom: 12px;
}

.steps__img img {
   width: 100%;
   display: block;
   height: 100%;
   object-fit: cover;
}

/* catalog */
.catalog__title {
    max-width: 556px;
    line-height: 1.16;
}
.catalog__content {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-bottom: 150px;
}

.catalog__form {
    max-width: 560px;
    width: 100%;
}
.catalog__form-title {
    max-width: 430px;
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.16;
    font-weight: 300;
    text-transform: uppercase;
}
.catalog__form-text {
    max-width: 430px;
    margin-bottom: 50px;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 300;
    text-transform: uppercase;
}
.catalog__form-input {
    display: block;
    padding: 20px;
    border: 1px solid #171717;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.16;
    margin-bottom: 30px;
    width: 100%;
}
.catalog__form-label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 50px;
}
.catalog__form-checkbox {
    width: 17px;
    height: 17px;
    accent-color: #171717;
    margin: 0;
}
.catalog__form-btn {
    padding: 20px 54px;
    background-color: #171717;
    color: #F5F5F5;
    font-size: 18px;
    line-height: 1.16;
    text-transform: uppercase;
    font-weight: 300;
    transition: background-color .2s ease;
}
.catalog__form-btn:hover {
    background-color: #3e3b3b;
}


.catalog__gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.catalog__gallery-img {
    width: 100%;
}

/* request */
.request {
    padding-bottom: 150px;
    
    
    color: #F5F5F5;
}
.request__inner {
    padding: 184px 0;
    background-image: url(../images/request-bg.jpg);
    background-image: image-set(
        '../images/request-bg.avif' type('image/avif'),
        '../images/request-bg.webp' type('image/webp'),
        '../images/request-bg.jpg' type('image/jpg')
    );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.request__inner-form {
    padding: 75px 117px;
    margin: 0 auto;
    max-width: 1000px;
    background-color: rgba(23, 23, 23, 0.85);
}
.request__form {
    display: flex;
    
}
.request__form-title {
    color: #F5F5F5;
}
.request__form-input {
    display: inline-block;
    background-color: #D9D9D9;
    padding: 20px;
    border: none;
    font-size: 18px;
    font-weight: 100;
    line-height: 1.16;
    width: 100%;
    color: #2B2B2B;
}
.request__form-btn {
    padding: 20px 50px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.16;
    background-color: #F5F5F5;
    color: #2B2B2B;
    width: 360px;
}

/* footer */
.footer {
    background-color: #171717;
    padding: 100px 0;
    color: #F5F5F5;
}
.footer__inner {
    margin-bottom: 10px;
    display: flex;
    align-items: end;
    padding-right: 174px;
    gap: 100px;
}
.footer__logo {
    margin-right: auto;
}
.footer__nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-transform: uppercase;
    font-weight: 300;
}
.footer__nav-item {
}
.footer__nav-list {
}
.footer__social {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer__social-item {
}
.footer__social-link {
    display: flex;
    gap: 10px;
    line-height: 1.16;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.16;
}
.footer__contacts-item {
}
.footer__contacts-link {
    display: flex;
    gap: 10px;
}
.footer__contacts-map {
    align-self: start;
}
.footer__contacts-time {
    padding-left: 25px;
}
.footer__copy {
    display: flex;
    gap: 6px;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.16;
}

@media (max-width: 1500px) {
    .footer__inner {
    margin-bottom: 10px;
    display: flex;
    align-items: end;
    padding-right: 0;
    gap: 50px;
    }
}

@media (max-width: 1300px) {
    .menu__btn {
        display: flex;
    }
    .menu-list {
        position: absolute;
        inset: 0;
        z-index: 5;
        padding-top: 200px;
        flex-direction: column;
        align-items: center;
        background-color: #171717;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }
    .menu-list.menu-list--active {
    transform: translateY(0);
    }
    .services__item {
        display: block;
        padding-right: 0;
    }
    .services__item-title {
        margin-bottom: 5px;
    }
    .steps {
        display: block;
    }
    .steps__list-wrapper {
        padding-bottom: 40px;
        max-width: 100%;
    }
    .catalog__content {
        display: block;
    }
    .catalog__content-img {
        width: 100%;
        margin-bottom: 40px;
    }
    
}

@media (max-width: 1090px) {
    .catalog__gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    .catalog__content {
        margin-bottom: 50px;
    }
    .catalog__form {
        max-width: 100%;
    }
    .footer__inner {
        flex-wrap: wrap;
        gap: 35px 135px;
    }
}

@media (max-width: 820px) {
    .footer__inner {
        flex-wrap: wrap;
        gap: 30px 0;
        flex-direction: column;
        align-items: start;
    }
} 

@media (max-width: 740px) {
    .header__inner {
        padding: 40px 0;
    }
    .header__title {
        padding-top: 75px;
        font-size: 64px;
    }
    .section-box {
        padding: 50px 0;
    }
    .section__title {
        margin-bottom: 20px;
        font-size: 28px;
    }
    .services__item {
        padding: 12px 0;
    }
    .services__item-title {
        font-size: 22px;
    }
    .projects__slider-item {
        padding: 10px;
    }
    .projects__slider-item img {
        margin-bottom: 20px;
    }
    .projects__slider-title {
        font-size: 24px;
    }
    .projects__slider-descr {
        font-size: 16px;
    }
    .projects__slider-descr,
    .projects__slider-text {
        margin-bottom: 12px;
    }
    .projects__slider-btn {
        padding: 16px 100px;
    }
    .steps {
        padding: 50px 0;
    }
    .catalog__gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    .request {
        padding-bottom: 50px;
    }
    .request__inner {
        padding: 85px 0;
    }
    .request__form {
        flex-direction: column;
        gap: 20px;
    }
    .request__form-btn {
        width: 100%;
    }
    .request__inner-form {
        padding: 50px 10px;
    }
    .footer {
        padding: 50px 0;
    }

}

@media (max-width: 540px) {
    .header__phone span {
        display: none;
    }
    .header__phone img {
        width: 24px;
    }
    .header__title {
        padding-top: 50px;
        font-size: 44px;
    }
    .header__text {
        font-size: 22px;
    }
    .header__btn {
        font-size: 16px;
        padding: 15px 10px;
        word-wrap: break-word;
    }
    .steps__item {
        padding-left: 37px;
        padding-bottom: 20px;
    }
    .steps__item::before {
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .steps__item::after {
        left: 10px;
        top: 28px;
    }
    .steps__item-title {
        padding-top: 0px;
        font-size: 22px;
        margin-bottom: 5px;
        margin-top: -1px;
    }
    .catalog__content-img {
        margin-bottom: 20px;
    }
    .catalog__form-title {
        font-size: 22px;
        margin-bottom: 10px;
    }
    .catalog__form-text {
        font-size: 16px;
        margin-bottom: 15px;
    }
    .catalog__form-input {
        font-size: 16px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .catalog__form-label {
        margin-bottom: 20px;
    }
    .catalog__form-btn {
        padding: 15px 54px;
        font-size: 16px;
    }
    .catalog__gallery {
        height: 600px;
        overflow-y: auto;
        grid-template-columns: 1fr;
    }
    .catalog__gallery::-webkit-scrollbar {
        width: 8px;
    }

    .catalog__gallery::-webkit-scrollbar-track {
        background: transparent;
    }

    .catalog__gallery::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    .catalog__gallery::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.6);
    }
    .footer__social {
        flex-direction: row;
    }
    .footer__social-link span {
        display: none;
    }
    
}


